// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

$white-color: black;

$dark-grey: black;

$dark-blue-text: white; // For Headings

$pink-color: rgb(252, 7, 211);

$white-color1: white;


// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
